<div class="bcp-modal">
  <div class="bcp-modal__edit">
    <div class="bcp-modal__content">
      <div class="bcp-modal__header">
        <div class="bcp-modal__action" (click)="onCloseModal()">
          <bcp-icon name="close" color="#9fa4ae" size="24"> </bcp-icon>
        </div>
      </div>

      <div class="bcp-modal__body">
        <h2 class="bcp-modal__title">{{ data?.title }}</h2>
        <form [formGroup]="form" class="bcp-modal__form" autocomplete="off">
          <mat-form-field appearance="outline">
            <mat-label>Agencia: </mat-label>
            <input
              placeholder="Ingrese información"
              formControlName="agencia"
              matInput
            />
            <mat-error *ngIf="formError['agencia'].errors">
              {{ messageRequiredItem }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Departamento: </mat-label>
            <input
              placeholder="Ingrese información"
              formControlName="departamento"
              matInput
            />
            <mat-error *ngIf="formError['departamento'].errors">
              {{ messageRequiredItem }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Provincia: </mat-label>
            <input
              placeholder="Ingrese información"
              formControlName="provincia"
              matInput
            />
            <mat-error *ngIf="formError['provincia'].errors">
              {{ messageRequiredItem }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Distrito: </mat-label>
            <input
              placeholder="Ingrese información"
              formControlName="distrito"
              matInput
            />
            <mat-error *ngIf="formError['distrito'].errors">
              {{ messageRequiredItem }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Dirección: </mat-label>
            <input
              placeholder="Ingrese información"
              formControlName="direccion"
              matInput
            />
            <mat-error *ngIf="formError['direccion'].errors">
              {{ messageRequiredItem }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Latitud: </mat-label>
            <input
              placeholder="Ingrese información"
              formControlName="lat"
              matInput
            />
            <mat-error *ngIf="formError['lat'].errors">
              {{ messageRequiredItem }}</mat-error
            >
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label>Longitud: </mat-label>
            <input
              placeholder="Ingrese información"
              formControlName="lon"
              matInput
            />
            <mat-error *ngIf="formError['lon'].errors">
              {{ messageRequiredItem }}</mat-error
            >
          </mat-form-field>

          <div class="bcp-modal__button">
            <button mat-flat-button color="warn" (click)="updateElement()">
              Guardar
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
