<div *ngIf="!isLoading">
  <bcp-loading></bcp-loading>
</div>

<div *ngIf="isLoading">
  <bcp-header></bcp-header>

  <div class="home-component">
    <div class="home-component__container">
      <div class="home-component__menu">
        <a class="home-component__link" (click)="changeView('lista')">Lista</a>
        <mat-divider class="home-component__divider"></mat-divider>
        <a class="home-component__link" (click)="changeView('about')"
          >Acerca de</a
        >
      </div>

      <div *ngIf="link === 'lista'" class="home-component__form">
        <mat-card
          class="home-component__card home-component__card--list"
          *ngFor="let item of agencyData; let i = index"
          style="flex-direction: column"
        >
          <div class="home-component__card-header">
            <div class="home-component__badge">
              Agencia: {{ item?.agencia }}
            </div>

            <div class="home-component__actions">
              <bcp-icon
                name="edit"
                color="#002a8c"
                size="22"
                type="outlined"
                mode="button"
                (click)="onModalEdit(item, i)"
              ></bcp-icon>
              <bcp-icon
                (click)="goToLink(item?.lat, item?.lon)"
                name="map"
                color="#ff7800"
                size="24"
                type="outlined"
                mode="button"
              ></bcp-icon>
            </div>
          </div>

          <div class="home-component__list-container">
            <div class="home-component__list-body">
              <p class="home-component__list-title">
                Departamento:
                <span class="home-component__list-subtitle">{{
                  item?.departamento
                }}</span>
              </p>
              <p class="home-component__list-title">
                Provincia:
                <span class="home-component__list-subtitle">{{
                  item?.provincia
                }}</span>
              </p>
              <p class="home-component__list-title">
                Distrito:
                <span class="home-component__list-subtitle">{{
                  item?.distrito
                }}</span>
              </p>
              <p class="home-component__list-title">
                Dirección:
                <span class="home-component__list-subtitle">{{
                  item?.direccion
                }}</span>
              </p>
            </div>

            <div class="home-component__list-details">
              <img class="home-component__list-img" [src]="item?.img" />
            </div>
          </div>
        </mat-card>
        <mat-card
          class="home-component__card home-component__card--about"
          *ngIf="agencyData.length === 0"
        >
          <bcp-animation-icon
            name="rqomvqbt"
            size="200"
            colorPrimary="#224451"
            colorSecondary="#41a4d0"
            trigger="loop"
          ></bcp-animation-icon>
          <h3>No se encontro registros</h3>
        </mat-card>
      </div>

      <div *ngIf="link === 'about'" class="home-component__form">
        <mat-card class="home-component__card home-component__card--about">
          <bcp-animation-icon
            name="xfymmesu"
            size="200"
            colorPrimary="#ff7800"
            colorSecondary="#002A8D"
            trigger="loop"
          ></bcp-animation-icon>
          <h3 class="home-component__card-title">
            BCP Challenge v1.0 _ Anthony Juarez Solis
          </h3>
        </mat-card>
      </div>
    </div>
  </div>
</div>
