/*
Color
*/

$primary: #002a8c;
$primary-01: #012d74;
$secondary: #3d77ff;

$background: #f4f5f7;
$hover: #f4f6f7;
$green: #48d67c;
$yellow: #ffe331;
$red: #b63b26;
$white: #ffffff;

$text-01: #0030b3;
$text-02: #4d5b70;
$text-03: #ff7800;
$text-04: #202e44;

$text-05: #224451;
$text-06: #41a4d0;
$text-07: #282828;
